body {
    font-family: 'Kanit-Regular';
    position: relative;
    font-size: 12px;
    line-height: 1.5;
    color: #838383;
    letter-spacing: 1px;
    min-height: 100%;
}

.color2 {
    color: #A77B5B;
}

.color-red {
    color: #B71520;
}

.btn-4 {
    background-color: #A77B5B;
    padding: 8px 15px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #fff;
    width: 100%;
    border: 1px solid #A77B5B;
}

.btn-4:hover,
.btn-4:focus {
    background-color: #a77a5acf;
    color: #fff;
}

.wrapper-page h3{
    font-size: 1rem;
}
.panel-heading{
    font-size: 0.75rem;
    color: #767676;
}
.account-pages {
    background: url(../images/banner-login.png);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

.wrapper-page {
    
    width: 40%;
    text-shadow: 0 0 black;
    /* right: 0; */
    /* left: 50%; */
    /* top: 50%;

     top: 150px;
    transform: translateY(-50%); */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 6px;
    border-bottom: 5px solid #A77B58;
    margin:  auto;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3)
}
.overlay2{
    background-color: rgba(0, 0, 0, 0.3)
}
.height-100{
    height: 100px;
}

.btn-1 {
    background-color: #a77a5a;
    color: #fff;
    padding: 6px 15px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.btn-1:hover,
.btn-1:focus {
    background-color: #a77a5acf;
    color: #FFFAF4;
    box-shadow: none;
}

.underline {
    text-decoration: underline
}

.color-black{
    color: #767676;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #CECECE;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #CECECE;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #CECECE;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #CECECE;
}

.page-panel{
    padding: 20px 30px;
    border: 1px solid #a77a5a;
    margin-bottom: 15px;
}

.alert .modal-header{
    border-bottom: transparent;
}
.alert .modal-footer{
    border-top: transparent;
}

.wrapper-page.info-top{
    margin-top: -252px;
    transform: none;
    top: 0;
    position: relative;
    pointer-events: none;
}

#footer{
        position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
        bottom: -80px;
}

.footer {
    font-size: 0.7rem;
    padding: 15px 30px;
}
.bg1 {
    background-color: #A77B5B;
    color: #fff;
}

.banner-help{
    position: relative;
}

.banner-help .caption{
    position: absolute;
    text-align: center;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: #fff;
    z-index: 9;
    font-size: 4rem;
}

.policy{
    padding: 50px 100px;
}

.policy-content p{
    margin-bottom: 5px;
}


.hr {
    margin: 30px 0;
    width: 100%;
    height: 2px;
    background-color: #f0f0f0;
}

.policy-panel{
    border: 1px solid #A77B5B;
    padding: 30px;
}

.tabs-policy .nav-pills .nav-link{
    color: #555555;
    font-size: 0.9rem;
    font-weight: bold;
}

.tabs-policy .nav-pills .nav-link.active, .tabs-policy .nav-pills .show>.nav-link{
    color: #A77B5B;
    background-color: transparent;
}

.head-panel{
    background-color: #A77B5B;
    color: #fff;
    padding: 7px 15px;
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 15px
}

header{
    padding: 15px;
}

.num{
        background-color: #a77a5a;
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 2.6;
        font-size: 1.2rem;
}

.member > div{
    margin: 15px 0;
}

.tag-name{
    position: absolute;
    top: -15px;
    background-color: #fff;
    padding: 6px 15px;
}

.wrapper-page .page-panel {
    position: relative;
}

.help-box {
    height: 100px;
    border: 1px solid #a77959;
    position: relative;
}

.help-box h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color: #a77a5a;
    width: 100%;
}

.box a:hover .help-box {
    box-shadow: 1px 5px 15px #ccc;
}

.blk{
    text-align: center;
}
.help-back {
    font-size: 1.1rem;
}
.info-bottom{
    font-size: 1rem;
}
.help-box p {
    position: absolute;
    bottom: 9px;
    font-size: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    width: 100%;
    color: red;
}
@media (max-width: 992px) {
    .wrapper-page {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .wrapper-page {
        width: 80%;
    }
    body,
    html {
        font-size: 13px !important;
    }
    .policy-content .h3,
    .policy-content h3 {
        font-size: 1.5rem;
    }
    .banner-help .caption{
        font-size: 2rem;
    }

    .help-box h4 {
        font-size: 1rem;
    }
    .num{
        line-height: 3.28;
    }

    .footer,
    .footer .text-right {
        text-align: center !important;
    }

    .info-bottom h5{ font-size: 1rem;}
    .info-bottom > h3{
            font-size: 1.4rem;
    }

    .btn-bottom a,
    .btn-bottom button{
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 7px;
    }

    .form-horizontal .btn{
        width: 100%;
    }
        
    
}

select.form-control:not([size]):not([multiple]) {
    color: #cecece;
}